.tilesList{
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}

.problem *{
    margin: clamp(.5rem, 2vw, 1rem);
}

.stats{
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}

.failed{
    color:red;
}