.tilesList{
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}
.tile{
    border-color: rgba(255, 0, 0, 0);
    background: cornflowerblue;
    color: darkgrey;
    transition: .5s ease;
    padding: 2rem;
    border-radius: 1rem;
}

.tile:hover{
    cursor: pointer;
    background: rgb(36, 109, 245);
    color: white;
}

.tile:disabled{
    opacity: .5;
    pointer-events: none;
}