nav{
    background-color: var(--dark-primary);
    background-image: linear-gradient(to right, var(--dark-primary), var(--dark-primary-variant));
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: light){
    nav{
        background-color: var(--light-primary);
        background-image: linear-gradient(to right, var(--light-primary), var(--light-primary-variant));
    }
}
