.tilesList{
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}
.tile{
    background: cornflowerblue;
    color: darkgrey;
    transition: .5s ease;
    padding: 1rem;
    border-radius: 1rem;
}

.tile:hover{
    cursor: pointer;
    background: rgb(36, 109, 245);
    color: white;
}