@keyframes shake{
    0%{
        color: red;
        transform: translateX(-5px);
    }
    25%{
        color: white;
        transform: translateX(5px);
    }
    50%{
        color: red;
        transform: translateX(5px);
    }
    75%{
        color:white;
        transform: translateX(-5px);
    }
    100%{
        color:red;
    }
}
.timer-animation{
    animation: 1s ease shake;
}

.timer h1{
    display: inline-block;
}
